@import "tailwindcss";

/* Variables base (modo claro por defecto) */
:root {
  --background: #ffffff;
  --foreground: #242424;
  --navBackground: #f1f1f1;
  --yellowBackground: #fcbb0b;
  --ourText: #104e64;
}

/* Variables en modo oscuro */
html.dark {
  --background: #131313;
  --foreground: #ededed;
  --navBackground: #292929;
  --yellowBackground: #c4900b;
  --ourText: #d6d3d3;
}

/* Aplicar variables al body */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
